@import "tailwindcss";
.category_btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  transform: all 0.5s ease;
  border-radius: 20px;
}
.category_btn:hover {
  background-color: #690202 !important;
  color: white !important;
}
.category_btn:hover span {
  color: white !important;
}
